/* Reset / Normalize */
body,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

/* Base styles */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

/* Utility classes */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
