/* Colors */
:root {
  --vne-red: #e31837;
  --vne-dark: #222;
}
/* Article Card */
.article-card {
  border-bottom: 1px solid #eee;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
}
.article-card img {
  width: 60%;
  object-fit: contain;
}
.article-card h3 {
  color: var(--vne-dark);
  font-size: 1.1rem;
}

.article-card:hover h3 {
  color: var(--vne-red);
}
