.ticker-container {
  display: flex;
  align-items: center;
  background: #e31837;
  color: white;
  padding: 8px;
  overflow: hidden;
}

.ticker-label {
  flex-shrink: 0;
  margin-right: 1rem; /* Space between label and ticker */
  font-weight: bold;
}

.ticker-wrapper {
  flex-grow: 1;
  overflow: hidden;
  padding-left: 30px;
}

.ticker-content {
  display: flex;
  gap: 2rem;
  animation: scrollInfinitely 20s linear infinite;
  color: rgb(219, 210, 210);
}

@keyframes scrollInfinitely {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
