.hero-article {
  padding: 10px;
  text-align: center;
}

.hero-article .hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.hero-article .hero-text > p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  text-overflow: ellipsis;
  height: 5rem;
  overflow: hidden;
}
